* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;
    letter-spacing: 0.05em;
    /* border: solid 1px white; */
}

body {
    height: 100%;
    width: 100%;
    background-color: black;
    color: white;
    font-family: "Noto Sans", sans-serif;
    letter-spacing: 0.05em;
}

header {
    background-image: url("../pics/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -10rem;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1;
    align-items: center;
    padding: 20px;
    color: white;
}

header::before{
    content: "";
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

header h1 {
    font-weight: normal;
    font-size: 36px;
    letter-spacing: 0.2em;
    position: relative;
}

header nav {
    position: relative;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

header nav ul li a {
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: white;
    padding: 5px 15px;
    border-radius: 1em;
    transition: all 0.3s ease;
}

header nav ul li a:hover {
    color: black ;
    background-color: white;
}

main {
    margin: 0 80px;
    border: solid 1px transparent;
}

section {
    margin: 80px auto;
    max-width: 1000px;
    text-align: center;
}

section h2 {
    position: relative;
    font-size: 36px;
    letter-spacing: 0.2em;
    font-weight: normal;
}

.section-header {
    background-image: url("../pics/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 15px;
    border-radius: 0.5em;
    scroll-margin-top: 100px;
    margin-bottom: 80px;
}

.section-header::before{
    content: "";
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

#about-me {
    background-position: center 70%;
}

#personal-projects {
    background-position: center 40%;
}

#business-projects {
    background-position: center 80%;
}

section p {
    margin: 0 auto;
    max-width: 900px;
    text-align: left;
    line-height: 2em;
    font-size: 18px;
}

.project {
    position: relative;
    margin: 0 auto 80px auto;
    max-width: 900px;
    background: rgb(34, 34, 34);
    border-radius: 1em;
}

.project h3 {
    color: rgb(255, 234, 79);
    padding: 20px;
    font-size: 28px;
    font-weight: normal;
}

.project img {
    border-radius: 1em;
    max-width: 80%;
    height: auto;
}

.project p {
    padding: 1em 1em;
    text-align: left;
    letter-spacing: 0.05em;
    line-height: 2em;
    font-size: 18px;
}

.project strong {
    color: rgb(255, 255, 167);
}

.project a {
    font-weight: bold;
    color: rgb(94, 161, 255);
    text-decoration: none;
    transition: all 0.3s ease;
}

.project a:hover {
    color: blue;
}